@import '../../theme.scss';
#confirm {
  width: 314px;
  min-height: 148px;
}

.header {
  width: 100%;
  background-color: white;
  position: relative;
  height: 30px;
  margin: 0 0 20px 0;
  h1 {
    font-size: 16px;
    margin: 0;
    height: 16px;
    color: #1c1c1c;
    line-height: 16px;
  }
  span {
    width: 17px;
    display: block;
    height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(/assets/img/processing_close.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    &:hover {
      background-position-x: -16px;
    }
  }
}

.content-wrapper {
  width: 225px;
  margin: 20px auto;
  div {
    width: 100%;
    display: flex;
    height: 22px;
    align-content: center;
    justify-content: flex-start;
    span {
      font-size: 14px;
      color: #989898;
      height: 14px;
      line-height: 22px;
    }
    em {
      height: 22px;
      margin-right: 10px;
      width: 22px;
    }
  }
  .title{
    span{
      color: #1c1c1c;
      font-weight: bold;
    }
    em{
      background-image: url(/assets/img/public_prompt.png);
    }
  }
}

.btn-wrapper {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    background-color: #bebebe;
    &:hover {
      background-color: #bebebe;
    }
    &:first-of-type {
      background-color: $hoverColor;
      margin-right: 10px;
      &:hover {
        background-color: $hoverColorDarker;
      }
    }
  }
}