<main class="date-select">
  <div class="text-container">
    {{data.tip}}
  </div>
  <section class="date-wrapper">
    <owl-date-time class="datetime-picker"
                   [styleClass]="'date-select-datetime-wrapper'"
                   [locale]="zh">
    </owl-date-time>
    <div class="option-wrapper">
      <section class="input-wrapper"
               (click)="isHourPopupShow = true">
        <span>{{hourSelected}}</span>
        <em></em>
      </section>
      <section class="popup-wrapper"
               *ngIf="isHourPopupShow"
               (mouseleave)="closePopup($event)">
        <ul class="select-wrapper">
          <li *ngFor="let item of hourSelectData"
              (click)="selectOption(item, 'hour')">
            <span>{{item.viewValue}}</span>
          </li>
        </ul>
      </section>
    </div>
    <div class="option-wrapper">
      <section class="input-wrapper"
               (click)="isMinutePopupShow = true">
        <span>{{minuteSelected}}</span>
        <em></em>
      </section>
      <section class="popup-wrapper"
               *ngIf="isMinutePopupShow"
               (mouseleave)="closePopup($event)">
        <ul class="select-wrapper">
          <li *ngFor="let item of minuteSelectData"
              (click)="selectOption(item, 'minute')">
            <span>{{item.viewValue}}</span>
          </li>
        </ul>
      </section>
    </div>
  </section>
</main>