<main class="head-nav">
  <div class="wrapper">
    <section class="icon-wrapper"
             routerLink="/home">
      <span class="icon"></span>
      <a>大数据服务平台</a>
    </section>
    <section class="router-link-wrapper">
      <ul class="cf first-tier">
        <li routerLink="/homePage">
          <a>首页</a>
        </li>
        <li>
          <a routerLink="/home" style="text-decoration: none">数据采集</a>
          <span></span>
          <ul class="second-tier">
            <li routerLink="/taskMonitor">任务监控</li>
            <li routerLink="/collectionRecord">采集记录</li>
          </ul>
        </li>
        <li routerLink="/dataStorage">
          <a>数据存储</a>
          <span></span>
        </li>
        <li routerLink="/dataService">
          <a>数据服务</a>
          <span></span>
        </li>
      </ul>
    </section>
  </div>
</main>