@import '../../theme.scss';
.multi-level-select {
  width: 225px + 288px;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  line-height: 30px;
  justify-content: space-between;
  align-content: center;
}

.text-wrapper {
  width: 225px;
  align-self: center;
  font-size: #1c1c1c;
  font-size: 12px;
}

.option-wrapper {
  width: 288px;
  box-sizing: border-box;
  border-radius: 15px;
  border: solid 1px #d2d4db;
  position: relative;
  .input-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    width: 288px;
    padding: 0 8px;
    span {
      display: block;
      max-width: 260px;
      text-overflow: ellipsis;
      font-size: 12px;
      height: 28px;
      color: $hoverColor;
      line-height: 28px;
    }
    em {
      height: 6px;
      width: 8px;
      align-self: center;
      background-image: url(/assets/img/processing_choice.png);
      background-position: 0 0;
      &:hover {
        background-image: -8px;
      }
    }
  }
  .popup-wrapper {
    width: 288px;
    position: absolute;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #6b6e72;
    z-index: 100;
    overflow: hidden;
    background-color: white;
    max-height: 26px * 5;
    overflow-x: auto;
    li {
      width: 100%;
      height: 26px;
      box-sizing: border-box;
      padding-left: 20px;
      cursor: pointer;
      display: flex;
      &.header {
        border-bottom: solid 1px #d2d4db;
        span {
          color: #6b6e72 !important;
        }
      }
      &:hover {
        span {
          color: $hoverColor;
        }
      }
      em {
        width: 12px;
        height: 12px;
        background-image: url(/assets/img/processing_chb.png);
        margin-right: 10px;
        background-position-x: -12px;
        cursor: pointer;
        align-self: center;
        line-height: 40px;
        display: block;
        &.active {
          background-position-x: 0;
        }
      }
      span {
        font-size: 12px;
        line-height: 28px;
        color: $hoverColor;
      }
    }
  }
}