<app-head-navigation></app-head-navigation>
<main class="data-service">
  <section class="nav-wrapper">
    <header>数据服务</header>
    <div class="search-wrapper">
      <em></em>
      <input placeholder="搜索"
             (keyup)="search()"
             [(ngModel)]="searchValue"
             type="text">
    </div>
    <div class="group-nav-wrapper">
      <app-group-nav *ngFor="let item of dataService.serverDataForRender"
                     [data]="item"></app-group-nav>
    </div>
    <!-- <span *ngFor="let item of serverData; let i = index">{{i}}</span> -->
  </section>
  <section class="service-detail-wrapper"
           [hidden]="dataService.selectedItemKey.length === 0">
    <div class="des-wrapper">
      <header>接口信息</header>
      <ul>
        <li>样例：{{dataService.des}}</li>
        <li>说明: {{dataService.selectedItemKey}}</li>
      </ul>
    </div>
    <div class="args-wrapper">
      <header>接口参数</header>
      <app-arg-distribute *ngFor="let item of dataService.argsData"
                          [data]="item"></app-arg-distribute>
      <span class="btn" (click)="submit()">确定</span>
    </div>
  </section>
  <section [style.width]="requlstBodyExpanded ? requestWindowExpandedWidth + 'px' : '300px'"
           class="request-wrapper"
           [hidden]="false">
    <div class="toggler-wrapper"
         [class.expanded]="requlstBodyExpanded">
      <span [class.expanded]="requlstBodyExpanded"
            (click)="requlstBodyExpanded = !requlstBodyExpanded"></span>
    </div>
    <div class="option-body"
         [class.expanded]="requlstBodyExpanded">
      <a class="option-wrapper"
         [class.expanded]="requlstBodyExpanded">
        <span [class.expanded]="requlstBodyExpanded">请求链接</span>
        <input type="text"
               [class.expanded]="requlstBodyExpanded">
        <em [class.expanded]="requlstBodyExpanded"
            (click)="submit()">确定</em>
      </a>
      <a class="result-wrapper"
         [class.expanded]="requlstBodyExpanded">
        <!-- <header>
           <div>JSON</div>
           <div>Text</div>
           <span></span>
         </header> -->
        <div>
          <ngx-json-viewer [json]="jsonData"></ngx-json-viewer>
        </div>
      </a>
    </div>
    <div class="request-history-wrapper">
    </div>
  </section>
</main>